.exam {
    width: 100%;
    .exam-container {
        display: flex;
        height: 100%;
        padding: 15px;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
