.price-section {
    height: 80px;
    width: 100%;
    padding: 20px;
    background: #fafafa;
    h2 {
        color: orange;
    }
}
.sell-section {
    margin: 30px;
    display: flex;
    .review {
        margin-right: 10px;
    }
    .divide {
        border-right: 1px solid rgba(0, 0, 0, 0.14);
    }
    .sold {
        margin-left: 10px;
    }
}
.type-section {
    display: flex;
    width: 100%;
    height: auto;
    .type-title {
        width: 100px;
        display: flex;
        justify-content: center;
        margin-top: 7px;
        p {
            color: gray;
        }
    }
    .type-container {
        flex: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .type-btn {
            height: 30px;
            width: 70px;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.09);
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            cursor: pointer;
            margin: 5px;

            p {
                font-family: "Montserrat";
            }
        }

        .type-btn:hover {
            border: 1px solid#4a44eb;
            p {
                color: red;
            }
        }
    }
}
